# Vivado Project Files and Artifacts to Ignore
*.log
*.jou
*.str
*.dir/
.Xil/

# Cache, runs, hw, and simulation folders
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# SDK/Vitis workspace files if any
*.sdk/
*.vitis/

# Keep the .xpr project file and src folder
# Keep the helper .tcl scripts in the root
